@font-face {
  font-family: "shrikhand";
  src: url("Shrikhand.otf");
}
@font-face {
  font-family: "roboto";
  src: url("Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("Roboto-Bold.ttf");
}
body {
  font-family: "roboto";
  margin: 0px;
}

.footer__logo {
  font-family: shrikhand;
}

.section1 {
  height: 120px;
  background-color: #ebe5e5;
}
.section1 table {
  width: 45%;
  margin: auto;
  margin-top: 11px;
  padding-top: 25px;
}

.localisation__periscope {
  background-image: url("periscope.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
  width: 60px;
  height: 50px;
}
.localisation__barre input {
  border: none;
  background-color: #ebe5e5;
  font-size: 40px;
  width: 345px;
  padding-left: 25px;
  font-weight: bold;
}

.section2__description {
  margin: auto;
  text-align: center;
  color: grey;
  font-size: 48px;
  width: 90%;
  padding-top: 35px;
}

.btn_menu {
  background: linear-gradient(#ff79da, #9356dc);
  width: 60%;
  margin: auto;
  height: 120px;
  border-radius: 60px;
  margin-top: 100px;
  box-shadow: 5px 15px 30px #c4c0c0;
}
.btn_menu__texte {
  color: white;
  font-size: 37px;
  padding-top: 35px;
  text-align: center;
}

.section3 {
  margin-top: 250px;
}
.section3 h2 {
  margin-bottom: 150px;
}

.fonct {
  position: relative;
  display: flex;
  width: 85%;
  height: 155px;
  border-radius: 50px;
  margin: auto;
  align-items: center;
  margin-bottom: 60px;
  box-shadow: 5px 10px 30px #d4d2d2;
}
.fonct__num {
  font-size: 40px;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  left: -30px;
}
.fonct__logo {
  left: 100px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.fonct__logo-mob {
  background-image: url("mobile.svg");
}
.fonct__logo-list {
  background-image: url("list.svg");
}
.fonct__logo-rest {
  background-image: url("store.svg");
}
.fonct__text {
  left: 250px;
  font-size: 40px;
  font-family: "roboto-bold";
}
.fonct div {
  display: flex;
  position: absolute;
}

.section4 {
  margin-top: 300px;
}
.section4 a {
  width: 90%;
  text-decoration: none;
  color: black;
}

.carte {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
  box-shadow: 5px 10px 30px #d4d2d2;
  border-radius: 50px;
}
.carte__image {
  width: 100%;
  object-fit: cover;
  border-radius: 50px 50px 0px 0px;
  height: 450px;
}
.carte__desc {
  margin: 10px 0px 10px 50px;
  font-size: 45px;
}
.carte__coeur {
  position: absolute;
  width: 70px;
  height: 70px;
  right: 75px;
  bottom: 85px;
}
.carte__nouveau {
  display: flex;
  position: absolute;
  font-size: 35px;
  background-color: #99e2d0;
  border-radius: 6px;
  width: 200px;
  height: 80px;
  right: 40px;
  top: 50px;
  justify-content: center;
  align-items: center;
  color: #798679;
  font-family: "roboto-bold";
}

h1, h2, h3 {
  font-family: "roboto-bold";
}

h1 {
  font-size: 65px;
  margin: auto;
  text-align: center;
  width: 70%;
  padding-top: 90px;
}

h2 {
  font-size: 47px;
  margin-left: 50px;
}

h3 {
  margin: 0px;
  margin-top: 35px;
  margin-left: 50px;
  font-size: 45px;
}

body {
  margin: 0px;
  width: 100%;
}

header {
  width: 100%;
  box-shadow: 0px 12px 12px #d6d3d3;
}

.logo {
  margin: auto;
  width: 45%;
  padding-top: 60px;
  padding-bottom: 35px;
}
.logo img {
  width: 100%;
}

footer {
  display: flex;
  position: relative;
  background: #3a3a3a;
  border: 5px solid #3a3a3a;
}

.footer {
  color: white;
  margin: 55px 0px 100px 50px;
  font-size: 40px;
}
.footer p {
  margin: 0px 0px 20px 0px;
}
.footer__logo {
  font-size: 48px;
  padding-bottom: 35px;
  letter-spacing: 3px;
}
.footer__paragraphe {
  padding-left: 65px;
}
.footer__image {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50px;
}
.footer__image-position1 {
  top: 168px;
}
.footer__image-position2 {
  top: 238px;
}

/*# sourceMappingURL=style.css.map */
