.btn{
    display: flex;
    position: absolute;
    font-family: $police;
    height: 120px;
    border-radius: 60px;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    @include tablette{
        font-size: 25px;
        height: 80px;
    }
}

.btn1{
    z-index: 2;
    background:linear-gradient($couleur-secondaire-lighten, $couleur-primaire-lighten);
    box-shadow: 5px 15px 30px $btn-shadow-darken;
    opacity: 0;
    &:hover{
        opacity: 1;
    }
}
.btn2{
    z-index: 1; 
    background:linear-gradient($couleur-secondaire, $couleur-primaire);    
    box-shadow: 5px 15px 30px $btn-shadow;

}