.section4{
    margin-top: 300px;
    a{
        width: 90%;
        text-decoration: none;
        color: black;
        
    }
}

.carte{
    z-index: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    box-shadow: 5px 10px 30px rgb(212, 210, 210);
    border-radius: 50px;
    &__image{
        width: 100%;
        object-fit: cover;
        border-radius: 50px 50px 0px 0px;
        height: 450px;
        margin-top: 0px;
    }
    &__desc{
        margin: 10px 0px 10px 50px;
        font-size: 45px;
    }
    &__coeur{
        @include coeurs;
            &:hover +.carte__coeur-plein{
                transform: scale(1);
                animation: progress-coeur 1s;
                animation-fill-mode: both;
            }
            &-plein{
                transform: scale(0);
                
            }
            
        &-dimension{
            position: absolute;
            width: 60px;
            height: 60px;
            right: 100px;
        }
        &-position1{
            top: 2870px;
        }
        &-position2{
            top: 3585px;
        }
        &-position3{
            top: 4300px;
        }
        &-position4{
            top: 5015px;
        }
    }
    &__nouveau{
        display: flex;
        position: absolute;
        font-size: 35px;
        background-color: $couleur-tertiaire;
        border-radius: 6px;
        width: 200px;
        height: 80px;
        right: 40px;
        top: 50px;
        justify-content: center;
        align-items: center;
        color: rgb(121, 134, 121);
        font-family: $police-gras;
    }
}
 