.section2{
    h1, p{

        margin: auto;
        text-align: center;
        width: 70%;
        padding-top: 90px;
    }
    .description{
        font-size: 16px;
        width: 90%;
        padding-top: 35px;
        color: grey;
    }
}

.btn_menu{
    background:linear-gradient($couleur-secondaire, $couleur-primaire);
    width: 60%;
    margin: auto;
    height: 120px;
    border-radius: 60px;
    margin-top: 100px;
    box-shadow: 5px 15px 30px rgb(196, 192, 192);
    p{
        color: white;
        font-size: 37px;
        padding-top: 35px;
    }
}