.section2 {
    &__description {
        margin: auto;
        text-align: center;
        color: grey;
        font-size: 48px;
        width: 90%;
        padding-top: 35px;
        
    }
}

.btn_menu {
    background:linear-gradient($couleur-secondaire, $couleur-primaire);
    width: 60%;
    margin: auto;
    height: 120px;
    border-radius: 60px;
    margin-top: 100px;
    box-shadow: 5px 15px 30px rgb(196, 192, 192);
    &__texte {
        color: white;
        font-size: 37px;
        padding-top: 35px;
        text-align: center;
    }
}
