@charset "UTF-8";
@keyframes progress-coeur {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes apparition-block {
  0% {
    transform: translateY(9999px);
    opacity: 0;
  }
  40% {
    transform: translateY(30px);
    opacity: 0;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes width-plat {
  from {
    width: 100%;
  }
  to {
    width: 200px;
  }
}
@keyframes width-plat-tablette {
  0% {
    width: 100%;
  }
  100% {
    width: 225px;
  }
}
@keyframes width-plat-not {
  from {
    width: 200px;
  }
  to {
    width: 100%;
  }
}
@keyframes width-plat-not-tablette {
  from {
    width: 225px;
  }
  to {
    width: 100%;
  }
}
@keyframes progress-check {
  from {
    width: 0px;
  }
  to {
    width: 60px;
  }
}
@keyframes progress-check-tablette {
  from {
    width: 0px;
  }
  to {
    width: 70px;
  }
}
@keyframes progress-check-not {
  from {
    width: 60px;
  }
  to {
    width: 0px;
  }
}
@keyframes progress-check-not-tablette {
  from {
    width: 70px;
  }
  to {
    width: 0px;
  }
}
@keyframes rotate-check-logo {
  0% {
    transform: rotate(0deg);
    width: 0px;
    height: 0px;
  }
  10% {
    width: 20px;
    height: 20px;
  }
  100% {
    transform: rotate(360deg);
    width: 20px;
    height: 20px;
  }
}
@keyframes rotate-check-logo-tablette {
  0% {
    transform: rotate(0deg);
    width: 0px;
    height: 0px;
  }
  10% {
    width: 22px;
    height: 22px;
  }
  100% {
    transform: rotate(360deg);
    width: 22px;
    height: 22px;
  }
}
@keyframes rotate-check-logo-not {
  0% {
    width: 20px;
    height: 20px;
  }
  90% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}
@keyframes rotate-check-logo-not-tablette {
  0% {
    width: 22px;
    height: 22px;
  }
  90% {
    width: 22px;
    height: 22px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}
@keyframes translate-prix {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-60px);
  }
}
@keyframes translate-prix-tablette {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-70px);
  }
}
@keyframes translate-prix-not {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes translate-prix-not-tablette {
  from {
    transform: translateX(-70px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-apparition {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-9999px);
  }
}
header {
  position: relative;
  box-shadow: 0px 4px 20px #bebbbb;
}
header + div {
  display: flex;
}
@media only screen and (min-width: 1180px) {
  header {
    box-shadow: 0px 0px 0px white;
  }
}

.logo {
  margin: auto;
  width: 45%;
  padding-top: 18px;
  padding-bottom: 8px;
}
@media only screen and (min-width: 480px) {
  .logo {
    width: 30%;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 1180px) {
  .logo {
    width: 10%;
    padding-top: 15px;
    padding-bottom: 0px;
  }
}
.logo img {
  width: 100%;
}

.fleche {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 22px;
  left: 30px;
}
@media only screen and (min-width: 480px) {
  .fleche {
    width: 30px;
    height: 30px;
    top: 30px;
  }
}
@media only screen and (min-width: 1180px) {
  .fleche {
    width: 20px;
    height: 20px;
    top: 10px;
  }
}

footer > div {
  width: 100%;
  background: #3a3a3a;
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 18px;
  padding-bottom: 30px;
  margin-top: 50px;
}
@media only screen and (min-width: 480px) {
  footer > div {
    font-size: 20px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 1180px) {
  footer > div {
    flex-direction: row;
    font-size: 18px;
    padding-bottom: 20px;
  }
}

.footer__logo {
  font-size: 18px;
  padding-bottom: 20px;
  font-family: "shrikhand";
  margin-top: 25px;
  margin-left: 25px;
}
@media only screen and (min-width: 480px) {
  .footer__logo {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1180px) {
  .footer__logo {
    font-size: 25px;
    margin-top: 10px;
  }
}
.footer__paragraphe {
  padding-left: 50px;
}
@media only screen and (min-width: 1180px) {
  .footer__paragraphe {
    margin-top: 50px;
    padding-left: 60px;
  }
}
.footer__paragraphe p {
  padding-bottom: 5px;
}
@media only screen and (min-width: 1180px) {
  .footer__paragraphe p {
    padding-bottom: 3px;
  }
}
.footer__paragraphe ~ p {
  margin-left: 25px;
  padding-bottom: 5px;
}
.footer__paragraphe ~ p a {
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 1180px) {
  .footer__paragraphe ~ p {
    margin-top: 50px;
    margin-left: 120px;
  }
}
.footer__icone {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 25px;
}
@media only screen and (min-width: 1180px) {
  .footer__icone {
    width: 15px;
    height: 15px;
    left: 200px;
  }
}
.footer__icone-position1 {
  top: 65px;
}
@media only screen and (min-width: 480px) {
  .footer__icone-position1 {
    top: 67px;
  }
}
@media only screen and (min-width: 1180px) {
  .footer__icone-position1 {
    top: 50px;
  }
}
.footer__icone-position2 {
  top: 92px;
}
@media only screen and (min-width: 480px) {
  .footer__icone-position2 {
    top: 94px;
  }
}
@media only screen and (min-width: 1180px) {
  .footer__icone-position2 {
    top: 73px;
  }
}

h1, h2, h3 {
  font-family: "roboto-bold";
}

body.global {
  font-family: "arial";
}
body.global h1, body.global h2, body.global h3 {
  font-family: "roboto-bold";
}

@font-face {
  font-family: "shrikhand";
  src: url("Shrikhand.otf");
}
@font-face {
  font-family: "roboto";
  src: url("Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("Roboto-Bold.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, section, header, footer, .global {
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 1180px) {
  section, header, footer, .global {
    width: 1180px;
  }

  .global {
    border: 1px solid black;
    margin: auto;
  }
}
.btn {
  display: flex;
  position: absolute;
  font-family: "roboto";
  height: 48px;
  border-radius: 60px;
  color: white;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 170px;
}
@media only screen and (min-width: 480px) {
  .btn {
    font-size: 12px;
    height: 40px;
    width: 120px;
  }
}
@media only screen and (min-width: 1180px) {
  .btn {
    font-size: 15px;
    height: 50px;
    width: 200px;
  }
}

.btn1 {
  z-index: 2;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 8px 20px #9f9898;
  opacity: 0;
}
.btn1:hover {
  opacity: 1;
}

.btn2 {
  z-index: 1;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 15px 30px #c4c0c0;
}

.block {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  box-shadow: 5px 10px 30px #d4d2d2;
}

section, header, footer {
  z-index: 1;
}

.loader {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
}

.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 8px;
  border: 20px solid #9356dc;
  border-radius: 50%;
  animation: loader 1200ms cubic-bezier(0.5, 0, 0.5, 1) 2;
  border-color: #9356dc transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

.loader-position {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  width: 100%;
  min-height: 100%;
  animation: loader-apparition;
  animation-delay: 2400ms;
  animation-fill-mode: forwards;
  top: 0px;
  background: rgba(10, 10, 10, 0.8);
}

.section1 {
  margin-top: 4px;
  padding-top: 8px;
  height: 40px;
  background-color: #e9e0e0;
}
@media only screen and (min-width: 480px) {
  .section1 {
    height: 60px;
    padding-top: 5px;
  }
}
.section1 table {
  margin: auto;
}
@media only screen and (min-width: 480px) {
  .section1 table {
    height: 40px;
  }
}

.localisation__marker {
  background-image: url("card-marker.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  width: 15px;
  height: 15px;
}
@media only screen and (min-width: 480px) {
  .localisation__marker {
    width: 30px;
    height: 35px;
    background-size: 15px;
    padding-top: 5px;
  }
}
@media only screen and (min-width: 1180px) {
  .localisation__marker {
    width: 30px;
    height: 30px;
    background-size: 20px;
  }
}
.localisation__barre input {
  padding-top: 5px;
  border: none;
  background-color: #e9e0e0;
  font-size: 15px;
  width: 145px;
  padding-left: 15px;
  font-weight: bold;
}
@media only screen and (min-width: 480px) {
  .localisation__barre input {
    font-size: 20px;
    width: 190px;
    padding-top: 12px;
  }
}
@media only screen and (min-width: 1180px) {
  .localisation__barre input {
    font-size: 20px;
    width: 200px;
  }
}

.section2 {
  width: 100%;
  margin-bottom: 180px;
}
@media only screen and (min-width: 480px) {
  .section2 {
    max-width: 680px;
    margin: auto;
    margin-bottom: 150px;
  }
}
@media only screen and (min-width: 1180px) {
  .section2 {
    min-width: 100%;
  }
}
.section2 h1 {
  font-size: 22px;
  font-family: "roboto-bold";
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 40px;
}
@media only screen and (min-width: 480px) {
  .section2 h1 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1180px) {
  .section2 h1 {
    font-size: 25px;
    margin-left: 20px;
    text-align: left;
  }
}
.section2__description {
  display: flex;
  width: 90%;
  margin: auto;
  font-size: 17px;
  color: grey;
  font-family: "roboto";
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .section2__description {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1180px) {
  .section2__description {
    font-size: 18px;
    margin-left: 20px;
    justify-content: left;
    margin-top: 15px;
  }
}
.section2 .btn__menu {
  margin: auto;
  margin-top: 30px;
  width: 210px;
}
@media only screen and (min-width: 480px) {
  .section2 .btn__menu {
    width: 220px;
  }
}
@media only screen and (min-width: 1180px) {
  .section2 .btn__menu {
    width: 240px;
  }
}

.section3 {
  margin-top: 100px;
}
.section3 h2 {
  margin-bottom: 50px;
  margin-left: 20px;
  font-size: 23px;
  font-family: "roboto-bold";
}
@media only screen and (min-width: 480px) {
  .section3 h2 {
    font-size: 25px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1180px) {
  .section3 h2 {
    font-size: 25px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 480px) {
  .fonctionnement {
    display: flex;
    margin: auto;
    max-width: 1000px;
  }
}

.fonct__menu {
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
  height: 60px;
  border-radius: 50px;
}
@media only screen and (min-width: 480px) {
  .fonct__menu {
    width: 28%;
    height: 50px;
  }
}
@media only screen and (min-width: 1180px) {
  .fonct__menu {
    width: 30%;
  }
}
.fonct__menu > div {
  display: flex;
  position: absolute;
}
.fonct__num {
  font-size: 13px;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  width: 22px;
  height: 22px;
  border-radius: 40px;
  left: -11px;
}
@media only screen and (min-width: 480px) {
  .fonct__num {
    font-size: 10px;
    width: 16px;
    height: 16px;
    left: -8px;
  }
}
@media only screen and (min-width: 1180px) {
  .fonct__num {
    font-size: 15px;
    width: 26px;
    height: 26px;
    left: -15px;
  }
}
.fonct__logo {
  left: 25px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 480px) {
  .fonct__logo {
    left: 20px;
    width: 15px;
    height: 15px;
  }
}
@media only screen and (min-width: 1180px) {
  .fonct__logo {
    left: 30px;
    width: 30px;
    height: 20px;
  }
}
.fonct__logo-mob {
  background-image: url("mobile.svg");
}
.fonct__logo-list {
  background-image: url("list.svg");
}
.fonct__logo-rest {
  background-image: url("store.svg");
}
.fonct__text {
  left: 65px;
  font-size: 15px;
  font-family: "roboto-bold";
}
@media only screen and (min-width: 480px) {
  .fonct__text {
    left: 35px;
    font-size: 12px;
    text-align: center;
  }
}
@media only screen and (min-width: 1180px) {
  .fonct__text {
    left: 70px;
    font-size: 18px;
  }
}

.section4 {
  margin-top: 100px;
}
.section4 a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.section4 h2, .section4 h3 {
  font-size: 25px;
  font-family: "roboto-bold";
  margin-left: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 480px) {
  .section4 h2, .section4 h3 {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1180px) {
  .section4 h2, .section4 h3 {
    font-size: 25px;
    margin-left: 20px;
  }
}
.section4 h3 {
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-left: 10px;
}
@media only screen and (min-width: 480px) {
  .section4 h3 {
    font-size: 13px;
    margin-top: 5px;
  }
}
@media only screen and (min-width: 1180px) {
  .section4 h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 480px) {
  .restaurant1 {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 480px) {
  .restaurant2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
}

.carte {
  font-family: "roboto";
  z-index: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 5px 10px 30px #d4d2d2;
  border-radius: 20px;
}
@media only screen and (min-width: 480px) {
  .carte {
    width: 42%;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1180px) {
  .carte {
    height: 150px;
    border-radius: 30px;
  }
}
@media only screen and (min-width: 1180px) {
  .carte__flex {
    display: flex;
    border-radius: 30px;
  }
}
.carte__image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  height: 150px;
}
@media only screen and (min-width: 480px) {
  .carte__image {
    height: 100px;
  }
}
@media only screen and (min-width: 1180px) {
  .carte__image {
    border-radius: 30px 0px 0px 30px;
    width: 150px;
    height: 150px;
  }
}
.carte__desc {
  margin: 5px 0px 15px 10px;
  font-size: 15px;
}
@media only screen and (min-width: 480px) {
  .carte__desc {
    font-size: 10px;
  }
}
@media only screen and (min-width: 1180px) {
  .carte__desc {
    font-size: 13px;
    margin-top: 10px;
  }
}
.carte__coeur {
  position: absolute;
  right: 20px;
  top: 168px;
  width: 22px;
  height: 25px;
}
@media only screen and (min-width: 480px) {
  .carte__coeur {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (min-width: 1180px) {
  .carte__coeur {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 480px) {
  .carte__coeur {
    top: 110px;
    right: 10px;
  }
}
@media only screen and (min-width: 1180px) {
  .carte__coeur {
    top: 20px;
  }
}
.carte__coeur:hover + .carte__coeur-plein {
  transform: scale(1);
  animation: progress-coeur 200ms;
  animation-fill-mode: both;
}
.carte__coeur-plein {
  transform: scale(0);
}
.carte__nouveau {
  display: flex;
  position: absolute;
  font-size: 13px;
  background-color: #99e2d0;
  border-radius: 2px;
  width: 80px;
  height: 28px;
  right: 13px;
  top: 13px;
  justify-content: center;
  align-items: center;
  color: #798679;
  font-family: "roboto-bold";
}
@media only screen and (min-width: 480px) {
  .carte__nouveau {
    font-size: 10px;
    width: 60px;
    height: 20px;
  }
}
@media only screen and (min-width: 1180px) {
  .carte__nouveau {
    font-size: 10px;
    width: 50px;
    height: 20px;
    left: 90px;
    top: 15px;
  }
}

.section1_2 {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
@media only screen and (min-width: 480px) {
  .section1_2 {
    text-align: center;
    padding-top: 380px;
    border-top: 1px solid black;
  }
}
.section1_2 h1 {
  font-family: "shrikhand";
  font-size: 22px;
  margin-left: 20px;
  margin-top: 35px;
}
@media only screen and (min-width: 480px) {
  .section1_2 h1 {
    font-size: 20px;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 480px) and (min-width: 1180px) {
  .section1_2 h1 {
    font-size: 30px;
    margin-bottom: 100px;
  }
}
.section1_2 h2 {
  font-family: "roboto";
  font-size: 18px;
  margin-top: 40px;
  margin-left: 20px;
}
@media only screen and (min-width: 480px) {
  .section1_2 h2 {
    font-size: 15px;
    margin-left: 0px;
    border-bottom: 2px solid #99e2d0;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 480px) and (min-width: 1180px) {
  .section1_2 h2 {
    font-size: 15px;
    width: 55%;
    margin-right: 100px;
  }
}
.section1_2 h2 span {
  border-bottom: 3px solid #99e2d0;
}
@media only screen and (min-width: 480px) {
  .section1_2 h2 span {
    border-bottom: 1px solid white;
  }
}

.image-rest {
  width: 100%;
  height: 290px;
}
@media only screen and (min-width: 480px) {
  .image-rest {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 20px;
    border-radius: 125px;
  }
}
@media only screen and (min-width: 1180px) {
  .image-rest {
    border-radius: 0px;
    width: 350px;
    height: 400px;
    top: 250px;
  }
}
.image-rest img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 480px) {
  .image-rest img {
    border-radius: 125px;
  }
}
@media only screen and (min-width: 1180px) {
  .image-rest img {
    border-radius: 0px;
  }
}

.languette {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 40px 40px 0px 0px;
  background: white;
  width: 100%;
  height: 61px;
  top: 230px;
}
@media only screen and (min-width: 480px) {
  .languette {
    top: 0px;
    border-radius: 0px;
  }
}
.languette + div {
  padding-bottom: 30px;
}

.fonct {
  display: flex;
  position: relative;
  box-shadow: 5px 10px 30px #d4d2d2;
  width: 95%;
  height: 65px;
  margin: auto;
  margin-top: 35px;
  border-radius: 15px;
  animation: apparition-block 1000ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct {
    width: 400px;
    height: 70px;
    text-align: left;
  }
}
@media only screen and (min-width: 1180px) {
  .fonct {
    margin-right: 175px;
    margin-top: 30px;
  }
}
.fonct--1 {
  animation-delay: 200ms;
}
.fonct:hover .fonct__anim-val {
  animation: progress-check 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val {
    animation: progress-check-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__anim-val {
  animation: progress-check-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val {
    animation: progress-check-not-tablette 600ms;
  }
}
.fonct:hover .fonct__anim-val-logo {
  animation: rotate-check-logo 500ms 100ms;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val-logo {
    animation: rotate-check-logo-tablette 500ms 100ms;
    animation-fill-mode: forwards;
  }
}
.fonct:not(:hover) .fonct__anim-val-logo {
  animation: rotate-check-logo-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val-logo {
    animation: rotate-check-logo-not-tablette 600ms;
  }
}
.fonct:hover .fonct__prix {
  animation: translate-prix 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__prix {
    animation: translate-prix-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__prix {
  animation: translate-prix-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__prix {
    animation: translate-prix-not-tablette 600ms;
  }
}
.fonct--2 {
  animation-delay: 400ms;
}
.fonct:hover .fonct__anim-val {
  animation: progress-check 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val {
    animation: progress-check-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__anim-val {
  animation: progress-check-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val {
    animation: progress-check-not-tablette 600ms;
  }
}
.fonct:hover .fonct__anim-val-logo {
  animation: rotate-check-logo 500ms 100ms;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val-logo {
    animation: rotate-check-logo-tablette 500ms 100ms;
    animation-fill-mode: forwards;
  }
}
.fonct:not(:hover) .fonct__anim-val-logo {
  animation: rotate-check-logo-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val-logo {
    animation: rotate-check-logo-not-tablette 600ms;
  }
}
.fonct:hover .fonct__prix {
  animation: translate-prix 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__prix {
    animation: translate-prix-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__prix {
  animation: translate-prix-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__prix {
    animation: translate-prix-not-tablette 600ms;
  }
}
.fonct--3 {
  animation-delay: 600ms;
}
.fonct:hover .fonct__anim-val {
  animation: progress-check 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val {
    animation: progress-check-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__anim-val {
  animation: progress-check-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val {
    animation: progress-check-not-tablette 600ms;
  }
}
.fonct:hover .fonct__anim-val-logo {
  animation: rotate-check-logo 500ms 100ms;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val-logo {
    animation: rotate-check-logo-tablette 500ms 100ms;
    animation-fill-mode: forwards;
  }
}
.fonct:not(:hover) .fonct__anim-val-logo {
  animation: rotate-check-logo-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val-logo {
    animation: rotate-check-logo-not-tablette 600ms;
  }
}
.fonct:hover .fonct__prix {
  animation: translate-prix 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__prix {
    animation: translate-prix-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__prix {
  animation: translate-prix-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__prix {
    animation: translate-prix-not-tablette 600ms;
  }
}
.fonct--4 {
  animation-delay: 800ms;
}
.fonct:hover .fonct__anim-val {
  animation: progress-check 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val {
    animation: progress-check-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__anim-val {
  animation: progress-check-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val {
    animation: progress-check-not-tablette 600ms;
  }
}
.fonct:hover .fonct__anim-val-logo {
  animation: rotate-check-logo 500ms 100ms;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val-logo {
    animation: rotate-check-logo-tablette 500ms 100ms;
    animation-fill-mode: forwards;
  }
}
.fonct:not(:hover) .fonct__anim-val-logo {
  animation: rotate-check-logo-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val-logo {
    animation: rotate-check-logo-not-tablette 600ms;
  }
}
.fonct:hover .fonct__prix {
  animation: translate-prix 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__prix {
    animation: translate-prix-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__prix {
  animation: translate-prix-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__prix {
    animation: translate-prix-not-tablette 600ms;
  }
}
.fonct--5 {
  animation-delay: 1000ms;
}
.fonct:hover .fonct__anim-val {
  animation: progress-check 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val {
    animation: progress-check-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__anim-val {
  animation: progress-check-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val {
    animation: progress-check-not-tablette 600ms;
  }
}
.fonct:hover .fonct__anim-val-logo {
  animation: rotate-check-logo 500ms 100ms;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val-logo {
    animation: rotate-check-logo-tablette 500ms 100ms;
    animation-fill-mode: forwards;
  }
}
.fonct:not(:hover) .fonct__anim-val-logo {
  animation: rotate-check-logo-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val-logo {
    animation: rotate-check-logo-not-tablette 600ms;
  }
}
.fonct:hover .fonct__prix {
  animation: translate-prix 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__prix {
    animation: translate-prix-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__prix {
  animation: translate-prix-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__prix {
    animation: translate-prix-not-tablette 600ms;
  }
}
.fonct--6 {
  animation-delay: 1200ms;
}
.fonct:hover .fonct__anim-val {
  animation: progress-check 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val {
    animation: progress-check-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__anim-val {
  animation: progress-check-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val {
    animation: progress-check-not-tablette 600ms;
  }
}
.fonct:hover .fonct__anim-val-logo {
  animation: rotate-check-logo 500ms 100ms;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val-logo {
    animation: rotate-check-logo-tablette 500ms 100ms;
    animation-fill-mode: forwards;
  }
}
.fonct:not(:hover) .fonct__anim-val-logo {
  animation: rotate-check-logo-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val-logo {
    animation: rotate-check-logo-not-tablette 600ms;
  }
}
.fonct:hover .fonct__prix {
  animation: translate-prix 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__prix {
    animation: translate-prix-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__prix {
  animation: translate-prix-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__prix {
    animation: translate-prix-not-tablette 600ms;
  }
}
.fonct--7 {
  animation-delay: 1400ms;
}
.fonct:hover .fonct__anim-val {
  animation: progress-check 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val {
    animation: progress-check-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__anim-val {
  animation: progress-check-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val {
    animation: progress-check-not-tablette 600ms;
  }
}
.fonct:hover .fonct__anim-val-logo {
  animation: rotate-check-logo 500ms 100ms;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val-logo {
    animation: rotate-check-logo-tablette 500ms 100ms;
    animation-fill-mode: forwards;
  }
}
.fonct:not(:hover) .fonct__anim-val-logo {
  animation: rotate-check-logo-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val-logo {
    animation: rotate-check-logo-not-tablette 600ms;
  }
}
.fonct:hover .fonct__prix {
  animation: translate-prix 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__prix {
    animation: translate-prix-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__prix {
  animation: translate-prix-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__prix {
    animation: translate-prix-not-tablette 600ms;
  }
}
.fonct--8 {
  animation-delay: 1600ms;
}
.fonct:hover .fonct__anim-val {
  animation: progress-check 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val {
    animation: progress-check-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__anim-val {
  animation: progress-check-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val {
    animation: progress-check-not-tablette 600ms;
  }
}
.fonct:hover .fonct__anim-val-logo {
  animation: rotate-check-logo 500ms 100ms;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val-logo {
    animation: rotate-check-logo-tablette 500ms 100ms;
    animation-fill-mode: forwards;
  }
}
.fonct:not(:hover) .fonct__anim-val-logo {
  animation: rotate-check-logo-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val-logo {
    animation: rotate-check-logo-not-tablette 600ms;
  }
}
.fonct:hover .fonct__prix {
  animation: translate-prix 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__prix {
    animation: translate-prix-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__prix {
  animation: translate-prix-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__prix {
    animation: translate-prix-not-tablette 600ms;
  }
}
.fonct--9 {
  animation-delay: 1800ms;
}
.fonct:hover .fonct__anim-val {
  animation: progress-check 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val {
    animation: progress-check-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__anim-val {
  animation: progress-check-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val {
    animation: progress-check-not-tablette 600ms;
  }
}
.fonct:hover .fonct__anim-val-logo {
  animation: rotate-check-logo 500ms 100ms;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val-logo {
    animation: rotate-check-logo-tablette 500ms 100ms;
    animation-fill-mode: forwards;
  }
}
.fonct:not(:hover) .fonct__anim-val-logo {
  animation: rotate-check-logo-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val-logo {
    animation: rotate-check-logo-not-tablette 600ms;
  }
}
.fonct:hover .fonct__prix {
  animation: translate-prix 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__prix {
    animation: translate-prix-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__prix {
  animation: translate-prix-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__prix {
    animation: translate-prix-not-tablette 600ms;
  }
}
.fonct--10 {
  animation-delay: 2000ms;
}
.fonct:hover .fonct__anim-val {
  animation: progress-check 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val {
    animation: progress-check-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__anim-val {
  animation: progress-check-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val {
    animation: progress-check-not-tablette 600ms;
  }
}
.fonct:hover .fonct__anim-val-logo {
  animation: rotate-check-logo 500ms 100ms;
  animation-fill-mode: forwards;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__anim-val-logo {
    animation: rotate-check-logo-tablette 500ms 100ms;
    animation-fill-mode: forwards;
  }
}
.fonct:not(:hover) .fonct__anim-val-logo {
  animation: rotate-check-logo-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__anim-val-logo {
    animation: rotate-check-logo-not-tablette 600ms;
  }
}
.fonct:hover .fonct__prix {
  animation: translate-prix 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct:hover .fonct__prix {
    animation: translate-prix-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct:not(:hover) .fonct__prix {
  animation: translate-prix-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct:not(:hover) .fonct__prix {
    animation: translate-prix-not-tablette 600ms;
  }
}
.fonct__plat {
  width: 100%;
  margin-right: 50px;
  padding-left: 10px;
  border-radius: 50px 0px 0px 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (min-width: 480px) {
  .fonct__plat {
    padding-left: 20px;
  }
}
.fonct__plat:hover {
  cursor: pointer;
  animation: width-plat 600ms;
  animation-fill-mode: both;
}
@media only screen and (min-width: 480px) {
  .fonct__plat:hover {
    animation: width-plat-tablette 600ms;
    animation-fill-mode: both;
  }
}
.fonct__plat:not(:hover) {
  animation: width-plat-not 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct__plat:not(:hover) {
    animation: width-plat-not-tablette 600ms;
  }
}
.fonct__intitulé {
  font-family: "roboto-bold";
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (min-width: 480px) {
  .fonct__intitulé {
    font-size: 18px;
  }
}
.fonct__accompagnement {
  z-index: 1;
  font-family: "roboto";
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (min-width: 480px) {
  .fonct__accompagnement {
    font-size: 14px;
  }
}
.fonct__prix {
  z-index: 2;
  position: absolute;
  width: 10px;
  font-size: 12px;
  font-family: "roboto-bold";
  color: #4d4b4b;
  top: 38px;
  right: 0px;
  padding-right: 20px;
  transition: transform 600ms;
}
@media only screen and (min-width: 480px) {
  .fonct__prix {
    width: 15px;
    font-size: 15px;
    top: 38px;
  }
}
.fonct__anim-val {
  transform-origin: right;
  position: absolute;
  right: 0px;
  display: flex;
  width: 0px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #99e2d0;
  border-radius: 0px 15px 15px 0px;
}
@media only screen and (min-width: 480px) {
  .fonct__anim-val {
    max-width: 110px;
  }
}
.fonct__anim-val-logo {
  width: 0px;
  height: 0px;
}
@media only screen and (min-width: 480px) {
  .fonct__anim-val-logo {
    width: 0px;
    height: 0px;
  }
}

.btn__plat {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 55px;
  width: 210px;
}
@media only screen and (min-width: 480px) {
  .btn__plat {
    width: 160px;
  }
}
@media only screen and (min-width: 1180px) {
  .btn__plat {
    margin-bottom: 150px;
  }
}

.carte__coeur-position {
  top: 265px;
  right: 30px;
}
@media only screen and (min-width: 480px) {
  .carte__coeur-position {
    top: 20px;
    right: 20px;
  }
}
@media only screen and (min-width: 1180px) {
  .carte__coeur-position {
    top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
