@keyframes progress-coeur{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes apparition-block{
    0%{
        transform: translateY(9999px);
        opacity: 0;
    }

    40%{
        transform: translateY(30px);
        opacity: 0;
    }
    70%{
        opacity: .4;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes width-plat{
    from{
        width: 900px;
    }
    to{
        width: 580px;
    }
}
@keyframes width-plat-not{
    from{
        width: 580px;
    }
    to{
        width: 900px;
    }
}
@keyframes progress-check{
    from{
        width: 0px;
    }
    to{
        width: 180px;
    }
}
@keyframes progress-check-not{
    from{
        width: 180px;
    }
    to{
        width: 0px;
    }
}
@keyframes rotate-check-logo{
    0%{
        transform: rotate(0deg);
        width: 0px;
    }
    20%{
        width: 55px;
    }
    100%{
        transform: rotate(360deg);
        width: 55px;
    }
}
@keyframes rotate-check-logo-not{
    from{
        width: 55px;
    }
    to{
        width: 55px;
    }
}
@keyframes translate-prix{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-180px);
    }
}
@keyframes translate-prix-not{
    from{
        transform: translateX(-180px);
    }
    to{
        transform: translateX(0px);
    }
}
