@keyframes progress-coeur{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes apparition-block{
    0%{
        transform: translateY(9999px);
        opacity: 0;
    }

    40%{
        transform: translateY(30px);
        opacity: 0;
    }
    70%{
        opacity: .4;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
