@mixin coeurs{
        width: 22px;
        height: 25px;
        @include tablette{
                width:20px;
                height: 20px;
        }
        @include bureau{
                width: 30px;
                height: 30px;
        }
}

@mixin tablette{
        @media only screen and (min-width: map-get($breakpoints, tablette )){
                @content;
        }
}

@mixin bureau{
        @media only screen and (min-width: map-get($breakpoints, bureau )){
                @content;
        }
}
