$police: 'roboto';
$police-gras: 'roboto-bold';
$police-logo: 'shrikhand';
$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$shadow-color: rgb(214, 211, 211) ;
$background-local:rgb(233, 224, 224) ;
$couleur-primaire-lighten: lighten($couleur-primaire, 5%);
$couleur-secondaire-lighten: lighten($couleur-secondaire, 5%);
$btn-shadow:  rgb(196, 192, 192);
$btn-shadow-darken: darken($btn-shadow, 15%);
$background-footer:  rgb(58, 58, 58);
$background-loader: rgba(10, 10, 10, 0.8);