footer > div{
    width: 100%;
    background: $background-footer;
    color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 50px;
    padding-bottom: 75px;
}

.footer{
    &__logo{
        font-size: 48px;
        padding-bottom: 35px;
        letter-spacing: 3px;
        font-family: $police-logo;
        margin-top: 75px;
        margin-left: 65px;
    }
    &__paragraphe{
        padding-left: 115px;
        & p{
            padding-bottom: 15px;
        }
        & ~ p{
            margin-left: 65px;
            padding-bottom: 15px;
        }        
    }
    &__icone{
        position: absolute;
        width: 40px;
        height: 40px;
        left: 65px;
        &-position1{
            top: 160px;
        }
        &-position2{
            top: 230px;
        }
    }
}