h1, h2, h3{
    font-family: $police-gras;
}
h1{
    font-size: 65px;
}

h2{
    font-size: 47px;
    margin-left: 50px;
}

h3{
    margin: 0px;
    margin-top: 35px;
    margin-left: 50px;
    font-size: 45px;
}