.section1_2{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    @include tablette{
        text-align: center;
        padding-top: 380px;
        //border-top: 1px solid black;
    }
    h1{
        font-family: $police-logo;
        font-size: 22px;    
        margin-left: 20px;
        margin-top: 35px;
        @include tablette{
            font-size: 20px;
           margin-top: 50px;
            @include bureau{
                font-size: 20px;
            }
        }
    }
    h2{
        font-family: $police;
        font-size: 18px;
        margin-top: 40px;
        margin-left: 20px;
        @include tablette{
            font-size: 15px;
            margin-left: 0px;
            border-bottom: 2px solid $couleur-tertiaire;
            width: 70%;
            margin: auto;
            margin-top: 50px;
            padding-bottom: 30px;
            @include bureau{
                font-size: 15px;
                width: 55%;
                margin-right: 100px;
            }
        }
        span{
            border-bottom: 3px solid $couleur-tertiaire;
            @include tablette{
                border-bottom: 1px solid white;
            }
        }
    }
}
.image-rest{
    width: 100%;
    height: 290px;
    @include tablette{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 150px;
        left: 20px;
        border-radius: 125px;
    }    
    @include bureau{
        border-radius: 0px;
        width: 350px;
        height: 400px;
        top: 250px;
    }
    img{
        width: 100%;   
        height: 100%;
        object-fit: cover;
        @include tablette{
            border-radius: 125px;
        }
        @include bureau{
            border-radius: 0px;
        }
    }
}

.languette{
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 40px 40px 0px 0px;
    background: white;
    width: 100%;
    height: 61px;
    top: 230px;
    @include tablette{
       top: 0px;
       border-radius: 0px;
    }
    @include bureau{
        top: 0px;
        
    }
    & + div{
        padding-bottom: 30px;
    }
}


.fonct{
    display: flex;
    position: relative;
    box-shadow: 5px 10px 30px rgb(212, 210, 210);
    width: 95%;
    height: 65px;
    margin: auto;
    margin-top: 35px;
    border-radius: 15px;   
    animation: apparition-block 1000ms;
    animation-fill-mode: both;
    @include tablette{
        width: 400px;
        height: 70px;
        text-align: left;
    }
    @include bureau{
        margin-right: 175px;
        margin-top: 30px;
    }
    @for $i from 1 through 10{
        &--#{$i} {
            animation-delay: 200ms*$i;
        }
        &:hover .fonct__anim-val{
            animation: progress-check 600ms;
            animation-fill-mode: both;
            @include tablette{
                animation: progress-check-tablette 600ms;
                animation-fill-mode: both;
            }
        }
        &:not(:hover) .fonct__anim-val{
            animation: progress-check-not 600ms;
            @include tablette{
                animation: progress-check-not-tablette 600ms
            }
        }
        &:hover .fonct__anim-val-logo{
                animation: rotate-check-logo 500ms 100ms;
                animation-fill-mode: forwards;
                @include tablette{
                    animation: rotate-check-logo-tablette 500ms 100ms;
                    animation-fill-mode: forwards;
                }
            }
        &:not(:hover) .fonct__anim-val-logo{
                animation: rotate-check-logo-not 600ms;
                @include tablette{
                    animation: rotate-check-logo-not-tablette 600ms;
                }
            }
        &:hover .fonct__prix{
            animation: translate-prix 600ms;
            animation-fill-mode: both;
            @include tablette{
                animation: translate-prix-tablette 600ms;
                animation-fill-mode: both;
            }
        }
        &:not(:hover) .fonct__prix{
            animation: translate-prix-not 600ms;
            @include tablette{
                animation: translate-prix-not-tablette 600ms;
            }
        }
    }       
    &__plat{
        width: 100%;
        margin-right: 50px;
        padding-left: 10px;
        border-radius: 50px 0px 0px 50px;        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include tablette{
            padding-left: 20px;
        }
        &:hover{
            cursor: pointer;
            animation: width-plat 600ms;
            animation-fill-mode: both;
            @include tablette{
                animation: width-plat-tablette 600ms;
                animation-fill-mode: both;
            }
        }
        &:not(:hover){
            animation: width-plat-not 600ms;
            @include tablette{
                animation: width-plat-not-tablette 600ms;
            }
        }
    }
    &__intitulé{
        font-family: $police-gras;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;  
        @include tablette{
            font-size: 18px;
        } 
    }
    &__accompagnement{
        z-index: 1;
        font-family: $police;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include tablette{
            font-size: 14px;
        }
    }
    &__prix{
        z-index: 2;
        position: absolute;
        width: 10px;
        font-size: 12px;
        font-family: $police-gras;
        color: rgb(77, 75, 75);
        top: 38px;
        right: 0px;
        padding-right: 20px;
        transition: transform 600ms;
        @include tablette{
            width: 15px;
            font-size: 15px;
            top: 38px;
        }
    }
    &__anim-val{
        transform-origin: right;
        position: absolute;
        right: 0px;
        display: flex;
        width: 0px;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: $couleur-tertiaire;
        border-radius: 0px 15px 15px 0px;
        @include tablette{
            max-width: 110px;
        }
        &-logo{
            width: 0px;
            height: 0px;
            @include tablette{
                width: 0px;
                height: 0px;
            }
            
        }
            
    }
    
}
.btn__plat{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 55px;
        width: 210px;
        @include tablette{
            width: 160px;
        }
        @include bureau{
            margin-bottom: 150px;
        }
    }

.carte__coeur-position{
    top: 265px;
    right: 30px;
    @include tablette{
        top: 20px;
        right: 20px;
    }
    @include bureau{
        top: 50px;
    }
}