.section4{
    margin-top: 300px;
    @include tablette{
        margin-top: 100px;
    }
    a{
        width: 100%;
        text-decoration: none;
        color: black;
        
    }
    h2,h3{
        font-size: 60px;
        font-family: $police-gras;
        margin-left: 50px;
        margin-bottom: 100px;
        @include tablette{
            font-size: 40px;
        }
        @include bureau{
            font-size: 25px;
            margin-left: 20px;
        }
    }
    h3{
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 50px;
        @include tablette{
            font-size: 35px;
            margin-top: 20px;
            margin-left: 20px;
        }
        @include bureau{
            font-size: 20px;
        }
    }
}

.restaurant1{
    @include tablette{
        display: flex;
        flex-direction: row;
    }
}

.restaurant2{
    @include tablette{
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }
}
.carte{
    font-family: $police;
    z-index: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    box-shadow: 5px 10px 30px rgb(212, 210, 210);
    border-radius: 50px;
    @include tablette{
        width: 42%;
        margin-bottom: 50px;
    }
    @include bureau{
        height: 150px;
        border-radius: 30px;
    }
    &__flex{
        @include bureau{
            display: flex;
            border-radius: 30px;
        }
     }
    &__image{
        width: 100%;
        object-fit: cover;
        border-radius: 50px 50px 0px 0px;
        height: 450px;
        @include tablette{
            height: 250px;
        }
        @include bureau{
            border-radius: 30px 0px 0px 30px;
            width: 150px;
            height: 150px;
        }
    }
    &__desc{
        margin: 10px 0px 50px 50px;
        font-size: 45px;
        @include tablette{
            font-size: 25px;
            margin-left: 20px;
        }
        }
    &__coeur{
        position: absolute;
        right: 50px;
        top: 510px;
        @include coeurs;
        @include tablette{
            top: 330px;
            right: 30px;
        }
        @include bureau{
            top: 20px;
        }
        &:hover +.carte__coeur-plein{
            transform: scale(1);
            animation: progress-coeur 200ms;
            animation-fill-mode: both;
        }
            &-plein{
               transform: scale(0);
                 }
            }
    &__nouveau{
        display: flex;
        position: absolute;
        font-size: 35px;
        background-color: $couleur-tertiaire;
        border-radius: 6px;
        width: 200px;
        height: 80px;
        right: 40px;
        top: 50px;
        justify-content: center;
        align-items: center;
        color: rgb(121, 134, 121);
        font-family: $police-gras;
        @include tablette{
            font-size: 25px;
            width: 150px;
            height: 50px;
        }
        @include bureau{
            font-size: 10px;
            width: 50px;
            height: 20px;
            left: 90px;
            top: 15px;
        }
    }
}