.section1{
    margin-top: 12px;
    padding-top: 20px;
    height: 100px;
    background-color: $background-local;
        @include tablette{
            height: 60px;
            padding-top: 5px;
        }
    table{
        margin: auto;
        @include tablette{
            height: 40px;
        }
    }
}
.localisation{ 
    &__marker{
        background-image: url('card-marker.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 35px;
        width: 50px;
        height: 50px;
            @include tablette{
                width: 30px;
                height: 35px;
                background-size: 28px;
                padding-top: 5px;
            }
            @include bureau{
                width: 30px;
                height: 30px;
                background-size: 20px;
            }
    }
    &__barre input{
        padding-top: 15px;
        border: none;
        background-color: $background-local;
        font-size: 40px;
        width: 345px;
        padding-left: 25px;
        font-weight: bold;
            @include tablette{
                font-size: 30px;
                width: 270px;
            }
            @include bureau{
                font-size: 20px;
                width: 200px;
            }
    }
}