.section1_2{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    h1{
        font-family: $police-logo;
        font-size: 70px;    
        //margin-top: 100px;
        margin-left: 50px;
    }
    h2{
        font-family: $police;
        font-size: 45px;
        margin-top: 100px;
        margin-left: 50px;
        span{
            border-bottom: 10px solid $couleur-tertiaire;
        }
    }
}
.image-rest{
    width: 100%;
    height: 650px;    
    img{
        width: 100%;   
        height: 100%;
        object-fit: cover;
    }
}

.languette{
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 100px 100px 0px 0px;
    background: white;
    width: 100%;
    height: 102px;
    top: 550px;
    & + div{
        padding-bottom: 30px;
    }
}

.fonct{
    display: flex;
    position: relative;
    box-shadow: 5px 10px 30px rgb(212, 210, 210);
    width: 900px;
    height: 165px;
    margin: auto;
    margin-top: 75px;
    border-radius: 50px;   
    animation: apparition-block 1000ms;
    animation-fill-mode: both;
    @for $i from 1 through 10{
        &--#{$i} {
            animation-delay: 200ms*$i;
        }
        &:hover .fonct__anim-val{
            animation: progress-check 600ms;
            animation-fill-mode: both;
        }
        &:not(:hover) .fonct__anim-val{
            animation: progress-check-not 600ms;
        }
        &:hover .fonct__anim-val-logo{
                animation: rotate-check-logo 500ms 100ms;
                animation-fill-mode: forwards;
            }
        &:not(:hover) .fonct__anim-val-logo{
                animation: rotate-check-logo-not 600ms;
            }
        &:hover .fonct__prix{
            animation: translate-prix 600ms;
            animation-fill-mode: both;
        }
        &:not(:hover) .fonct__prix{
            animation: translate-prix-not 600ms;
        }
    }       
    &__plat{
        width: 900px;
        margin-right: 100px;
        padding-left: 30px;
        border-radius: 50px 0px 0px 50px;        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{
            cursor: pointer;
            animation: width-plat 600ms;
            animation-fill-mode: both;
        }
        &:not(:hover){
            animation: width-plat-not 600ms;
        }
    }
    &__intitulé{
        font-family: $police-gras;
        font-size: 45px;
        margin-top: 20px;
        margin-bottom: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;  
         
    }
    &__accompagnement{
        z-index: 1;
        font-family: $police;
        font-size: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__prix{
        z-index: 2;
        position: absolute;
        width: 40px;
        font-size: 40px;
        font-family: $police-gras;
        color: rgb(77, 75, 75);
        top: 90px;
        right: 35px;
        padding-right: 20px;
        transition: transform 600ms;
    }
    &__anim-val{
        position: absolute;
        right: 0px;
        display: flex;
        width: 0px;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: $couleur-tertiaire;
        border-radius: 0px 50px 50px 0px;
        &-logo{
            width: 55px;
            height: 55px;
        }
            
    }
    
}
.btn__plat{
        margin: auto;
        margin-top: 100px;
        margin-bottom: 150px;
        width: 50%;
    }

.carte__coeur-position{
    top: 810px;
    right: 110px;
}