.section2{
    
    width: 100%;
    margin-bottom: 300px;
    @include tablette{
        max-width: 680px;
        margin: auto;
    }
    h1{
        font-size: 60px;
        font-family: $police-gras;
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 100px;
        @include tablette{
            font-size: 40px;
        }
    }
    &__description{
        display: flex;
        width: 80%;
        margin: auto;
        font-size: 45px;
        color: grey;
        font-family: $police;
        justify-content: center;
        margin-top: 50px;
        text-align: center;
        @include tablette{
            font-size: 30px;
        }
    }
    .btn__menu{
        margin: auto;
        margin-top: 80px;
        width: 52%;
    }
}