.section3{
    margin-top: 250px;
    h2{
    margin-bottom: 150px;
    margin-left: 50px;
    font-size: 60px;
    font-family: $police-gras;
    @include tablette{
        font-size: 40px;
        margin-bottom: 100px;
        }
        @include bureau{
            font-size: 25px;
            margin-left: 20px;
        }
    }
}

.fonctionnement{
    @include tablette{
        display: flex;
        margin:auto;
        max-width: 1000px;
    }
}

.fonct{
    &__menu{
        margin:auto;
        margin-bottom: 60px;
        width: 80%;
        height: 150px;
        border-radius: 50px;
        @include tablette{
            width: 28%;
            height: 80px;
        }
        @include bureau{
            width: 30%;
        }
        & > div{
            display: flex;
            position: absolute;
        }
    }
    &__num{
        font-size: 40px;
        color: white;
        justify-content: center ;
        align-items: center;
        background-color: $couleur-primaire;
        width: 60px;
        height: 60px;
        border-radius: 40px;
        left: -30px;
        @include tablette{
            font-size: 20px;
            width: 40px;
            height: 40px;
            left: -20px;
        }
        @include bureau{
            font-size: 15px;
            width: 26px;
            height: 26px;
            left: -15px;
        }
        
    }
    &__logo{
        left: 100px;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        @include tablette{
            left: 30px;
            width: 30px;
            height: 30px;
        }
        @include bureau{
            left: 30px;
            width: 20px;
            height: 20px;
        }
        &-mob{
            background-image: url('mobile.svg');
        }
        &-list{
            background-image: url('list.svg');
        }
        &-rest{
            background-image: url('store.svg');
        }
    }
    &__text{
        left: 250px;
        font-size: 40px;
        font-family: $police-gras;
        @include tablette{
            left: 50px;
            font-size: 25px;
            text-align: center;
        }
        @include bureau{
            left: 70px;
            font-size: 18px;
        }
    }
}