.section1{
    margin-top: 11px;
    padding-top: 20px;
    height: 100px;
    background-color: $background-local;
    table{
        width: 45%;
        margin: auto;
    }
}
.localisation{ 
    &__marker{
        background-image: url('card-marker.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 35px;
        width: 60%;
        height: 50px;
        
    }
    &__barre input{
        //padding-top: 15px;
        border: none;
        background-color: $background-local;
        font-size: 40px;
        width: 100%;
        //padding-left: 25px;
        font-weight: bold;
        border: 1px solid black
    }
}