.section2{
    
    width: 100%;
    margin-bottom: 180px;
    @include tablette{
        max-width: 680px;
        margin: auto;
        margin-bottom: 150px;
    }
    @include bureau{
        min-width: 100%;
    }
    h1{
        font-size: 22px;
        font-family: $police-gras;
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 40px;
        @include tablette{
            font-size: 28px;
        }
        @include bureau{
            font-size: 25px;
            margin-left: 20px;
            text-align: left;
        }
    }
    &__description{
        display: flex;
        width: 90%;
        margin: auto;
        font-size: 17px;
        color: grey;
        font-family: $police;
        justify-content: center;
        margin-top: 20px;
        text-align: center;
        @include tablette{
            font-size: 20px;
        }
        @include bureau{
            font-size: 18px;
            margin-left: 20px;
            justify-content: left;
            margin-top: 15px;
        }
    }
    .btn__menu{
        margin: auto;
        margin-top: 30px;
        width: 210px;
        @include tablette{
            width: 220px;
        }
        @include bureau{
            width: 240px;
        }
    }
}