.section3{
    margin-top: 250px;
    h2{
    margin-bottom: 150px;
    margin-left: 50px;
    font-size: 60px;
    font-family: $police-gras;
    }
}



.fonct{
    &__menu{
        margin:auto;
        margin-bottom: 60px;
        width: 850px;
        height: 155px;
        border-radius: 50px;
        & > div{
            display: flex;
            position: absolute;
        }
    }
    &__num{
        font-size: 40px;
        color: white;
        justify-content: center ;
        align-items: center;
        background-color: $couleur-primaire;
        width: 60px;
        height: 60px;
        border-radius: 40px;
        left: -30px;
        
    }
    &__logo{
        left: 100px;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        &-mob{
            background-image: url('mobile.svg');
        }
        &-list{
            background-image: url('list.svg');
        }
        &-rest{
            background-image: url('store.svg');
        }
    }
    &__text{
        left: 250px;
        font-size: 40px;
        font-family: $police-gras;
    }
}