body, section, header, footer, .global{
    width: 100%;
    position: relative;
}
@include bureau{
    section, header,footer, .global{
        width: 1180px;
        }
    .global{
        border: 1px solid black;
        margin: auto;
    }
}