@font-face{
    font-family: 'shrikhand';
    src: url('Shrikhand.otf')
}

@font-face{
    font-family: 'roboto';
    src: url('Roboto-Regular.ttf')
}

@font-face{
    font-family: 'roboto-bold';
    src: url('Roboto-Bold.ttf')
}